.data-con {
    margin-top: 1vw;
    padding: 1vw;
    margin-bottom: 1vw;
    margin-right: 8vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5vw;
    overflow-x: auto;
}

.event-card-restore {
    width: 16vw;
    height: 28.5vw;
    padding: 0vw 1vw 1vw 1vw;
    display: flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.btn-container{
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    height: 3vw;
}

.event-color {
    background-color: rgb(86, 165, 238);
}

.cat-header {
    font-size: 1.8vw;
    font-weight: 500;
    color: white;
    padding: 0.7vw;
    display: flex;
}

.data-header {
    font-size: 1vw;
    padding: 0.5vw;
    color: white;
    border-radius: 5px;
}

.data-desc {
    font-size: 0.8vw;
    font-weight: 400;
}

.data-img{
    width: 14vw;
    max-height: 12vw;
    align-self: center;
}

.data-date {
    font-size: 0.8vw;
    text-wrap: wrap;
    color: gray;
    font-weight: 400;
}

.bin-icon{
    fill: white;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0.5vw;
}

.delete-icon-container{
    background-color: red;
    display: flex;
    color: white;
    padding: 1vw;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.1vw;
    cursor: pointer;
}

.archive-header{
    font-size: 1.8vw;
    padding: 2vw 0vw;
    display: flex;
}