
.fb-color {
    background-color: rgb(86, 165, 238);
}

.cat-header {
    font-size: 1.8vw;
    font-weight: 500;
    color: white;
    padding: 0.7vw;
}

.fb-header {
    font-size: 1vw;
    padding: 0.5vw;
    color: white;
    border-radius: 5px;
}

.data-header {
    font-size: 1vw;
    padding: 0.5vw;
    color: white;
    border-radius: 5px;
}

.data-desc {
    font-size: 0.8vw;
    font-weight: 400;
}

.data-date {
    font-size: 0.8vw;
    text-wrap: wrap;
    color: gray;
    font-weight: 400;
}
