.route-map-container{
    width: 100%;
    height:30vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: right;
}

.route-map{
    width: 100%;
    height: 80%;
}

.route-color-head{
    font-size: 1.9vw;
}