#root {
  max-width: 100vw;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.admin-page {
  padding-left: 5vw;
  overflow-x: hidden;
  background-color: rgb(219, 232, 253);
}

.survey-back {
  position: absolute;
  width: 2vw;
  height: 2vw;
  left: -1.5vw;
  background-color: rgb(86, 165, 238);
  fill: white;
  padding: 0.5vw;
  border-radius: 50%;
  top: -1.5vw;
  cursor: pointer;
  fill: white;
}


.survey-back:hover {
  background-color: rgb(11, 149, 149);
}

.text-color {
  color: rgb(47, 60, 82);
}

.admin-content {
  width: 100vw;
  height: 100vh;
  padding: 2vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filter-btn {
  border: None;
  border-radius: 30px;
  background-color: rgb(86, 165, 238);
  color: white;
  font-size: 0.9vw;
  padding: 0.5vw;
  width: 8vw;
  cursor: pointer;
}

.filter-btn:hover {
  font-size: 1.3vw;
  width: 12vw;
  padding: 0.7vw;
}

.blue-color-logo {
  fill: rgb(86, 165, 238);
}

.theme-color {
  background-color: rgb(86, 165, 238);
}

.app-main {
  display: flex;
  max-height: 100vh;
  font-family: Poppins;
}

html,
body {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.add-data {
  width: 10vw;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.5vw;
  font-family: Poppins;
  font-size: 1.1vw;
}


.delete-event {
  width: 1.5vw;
  height: 1.5vw;
  position: relative;
  left: -1.7vw;
  bottom: 0.5vw;
  margin: 0;
  /*top: -0.6vw;
  left: 19.7vw;*/
  cursor: pointer;
  background-color: rgb(245, 3, 3);
  font-size: 0.8vw;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  border: none;
}


.delete-event:hover {
  opacity: 60%;
}


.event-card {
  width: 18vw;
  height: 25vw;
  padding: 0vw 1vw 1vw 1vw;
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.data-desc {
    font-size: 0.8vw;
    font-weight: 400;
}

.data-desc-con{
  height: 8vw;
  overflow-y: scroll;
}

.fb-card{
  width: 18vw;
  height: 15vw;
  padding: 0vw 1vw 1vw 1vw;
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hover-opacity:hover {
  transform: scale(1.04);
  opacity: 90%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hover-big:hover{
  cursor: pointer;
  transform: scale(1.3);
   opacity: 95%;
  transition: all 0.35s ease;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fadeInPulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}